version: "3.7"

services:
  jupyter:
    container_name: jupyter
    command: jupyter notebook --ip 0.0.0.0 --port 8888 --no-browser --allow-root --NotebookApp.token=''
    build: .
    ports:
      - "8888:8888"
      - "5000:5000"
      - "8080:8080"
    volumes:
      - ./code:/usr/src/app/code
      - ./data/jupyter:/usr/src/app/data
